{{ partial "header.html" . }}
{{partial "nav-bar.html" . }}
<div class="container">
    <!-- {{ partial "title-bar.html" . }} -->
    {{if .Data.Pages}}
    {{ range .Data.Pages }}
    <a class="card" href="{{ .Permalink }}">
        <div>{{if .Params.Language}}
            <small>
                {{.Params.Language}}
            </small>
            {{end}}
            {{ if .Params.LatestVersion }}
            <small>
                (v{{.Params.LatestVersion}})
            </small>
            {{end}}
            {{if .Date}}
            <small>
                {{.Date.Format "2006"}}
            </small>
            {{end}}
        </div>
        <div title="{{.Title}}" class="title">
            <h3>{{.Title}}</h3>
        </div>
        <div class="one-liner">
            {{if .Params.Description}}
            <p>
                {{.Params.Description}}
            </p>
            {{end}}
        </div>
    </a>
    {{end}}
    {{else}}
    <div class="no-content-found">
        <h2>Under<br>Construction</h2>
    </div>
    {{end}}
</div>
{{ partial "footer.html" . }}