{{ partial "header.html" . }}
<div class="container">
    {{partial "nav-bar.html" }}
    <section class="content">
        {{if not .IsHome }}<h3>{{ .Title }}</h3>{{end}}
        {{ .Content }}
        {{ range .Data.Pages }}
        <div class="entry blog"><a href="{{ .Permalink }}">{{ .Title }}</a>
            {{ if .Params.LatestVersion }} &middot; <small>({{.Params.LatestVersion}})</small>{{end}}
            &middot; {{if .Params.Language}}{{.Params.Language}}
            &middot; {{end}}{{ .Date.Format "2006" }}
            <div class="meta">
                {{if .Params.Description}}<p>{{.Params.Description}}</p>{{end}}
            </div>
        </div>
        {{end}}
    </section>
</div>
{{ partial "footer.html" . }}