{{ partial "header.html" . }}
<div class="container">
    {{partial "nav-bar.html" }}
    <div class="content list">
        {{ .Content }}
        {{ range .Data.Pages }}
        <a class="entry" href="{{ .Permalink }}">
            <h4>{{.Title}}</h4>
            {{ if .Params.LatestVersion }}<small>({{.Params.LatestVersion}})</small>{{end}}
            <small>{{if .Params.Language}}{{.Params.Language}}</small>
            {{end}}
            <div class="meta">
                {{if .Params.Description}}<p>{{.Params.Description}}</p>{{end}}
            </div>
        </a>
        {{end}}
    </div>
    {{ partial "footer.html" . }}

</div>