{{ partial "header.html" . }}
<div class="container">
    {{partial "nav-bar.html" }}
    <div class="content list">
        {{ .Content }}
        {{if .Data.Pages}}
        {{ range .Data.Pages }}
        <a class="entry" href="{{ .Permalink }}">
            <div title="{{.Title}}" class="title">
                <h5>{{.Title}}</h5>
                {{ if .Params.LatestVersion }}
                &middot;
                <small>
                    (v{{.Params.LatestVersion}})
                </small>
                {{end}}
                {{if .Params.Language}}
                &middot;
                <small>
                    {{.Params.Language}}
                </small>
                {{end}}
                {{if .Date}}
                &middot;
                <small>
                    {{.Date.Format "2006"}}
                </small>
                {{end}}
            </div>
            <div class="one-liner">
                {{if .Params.Description}}
                <p>
                    {{.Params.Description}}
                </p>
                {{end}}
            </div>
        </a>
        {{end}}
        {{else}}
        <div class="no-content-found">
            <h2 class="message">Under<br>Construction</h2>
        </div>
        {{end}}
    </div>
    {{ partial "footer.html" . }}
</div>