{{ partial "header.html" . }}
{{partial "nav-bar.html" }}

<div class="container">
    <div class="content">
        {{if not .IsHome }}<h3>{{ .Title }}</h3>
        {{ .Content }}
        {{ range .Data.Pages }}{{ end }}
        {{end}}
        {{if .IsHome}}
        <article>
            <main>
                <h1>I'm Saleh,<br> a <span id="job-title">web developer</span> based in Dubai</h1>
            </main>
            {{.Content}}
        </article>
        {{end}}
    </div>
</div>
{{ partial "footer.html" . }}