{{ partial "header.html" . }}
<div class="container">
    {{partial "nav-bar.html" }}
    <section class="content">
        {{if not .IsHome }}<h3>{{ .Title }}</h3>
        {{ .Content }}
        {{ range .Data.Pages }}{{ end }}
        {{end}}
        {{if .IsHome}}
        <main>
            <h1 class="xxl">I'm Saleh,<br> a designer based in Dubai</h1>
        </main>
        <section>
            {{.Content}}
        </section>
        {{end}}
    </section>
</div>
{{ partial "footer.html" . }}