:root {
  /* Color spectrum */
  --non-opaque-white-1000: rgba(255 255 255 / 100%);
  --non-opaque-white-950: rgba(255 255 255 / 95%);
  --non-opaque-white-900: rgba(255 255 255 / 90%);
  --non-opaque-white-800: rgba(255 255 255 / 80%);
  --non-opaque-white-700: rgba(255 255 255 / 70%);
  --non-opaque-white-600: rgba(255 255 255 / 60%);
  --non-opaque-white-500: rgba(255 255 255 / 50%);
  --non-opaque-white-400: rgba(255 255 255 / 40%);
  --non-opaque-white-300: rgba(255 255 255 / 30%);
  --non-opaque-white-200: rgba(255 255 255 / 20%);
  --non-opaque-white-100: rgba(255 255 255 / 10%);
  --non-opaque-white-50: rgba(255 255 255 / 5%);
  --gray-950: rgba(21 21 21 / 100%);
  --gray-900: rgba(61 61 61 / 100%);
  --gray-800: rgba(69 69 69 / 100%);
  --gray-700: rgba(79 79 79 / 100%);
  --gray-600: rgba(93 93 93 / 100%);
  --gray-500: rgba(109 109 109 / 100%);
  --gray-400: rgba(136 136 136 / 100%);
  --gray-300: rgba(176 176 176 / 100%);
  --gray-200: rgba(209 209 209 / 100%);
  --gray-100: rgba(231 231 231 / 100%);
  --gray-50: rgba(246 246 246 / 100%);
  --orange-950: rgba(63 18 11 / 100%);
  --orange-900: rgba(118 42 24 / 100%);
  --orange-800: rgba(146 48 26 / 100%);
  --orange-700: rgba(183 59 23 / 100%);
  --orange-600: rgba(229 84 29 / 100%);
  --orange-500: rgba(235 104 36 / 100%);
  --orange-400: rgba(239 136 72 / 100%);
  --orange-300: rgba(245 178 124 / 100%);
  --orange-200: rgba(249 210 175 / 100%);
  --orange-100: rgba(252 235 216 / 100%);
  --orange-50: rgba(254 246 238 / 100%);
  --cream-950: rgba(47 35 27 / 100%);
  --cream-900: rgba(89 68 53 / 100%);
  --cream-800: rgba(109 83 63 / 100%);
  --cream-700: rgba(133 101 73 / 100%);
  --cream-600: rgba(160 124 86 / 100%);
  --cream-500: rgba(173 142 98 / 100%);
  --cream-400: rgba(187 163 124 / 100%);
  --cream-300: rgba(207 193 162 / 100%);
  --cream-200: rgba(226 218 198 / 100%);
  --cream-100: rgba(243 240 231 / 100%);
  --cream-50: rgba(249 247 243 / 100%);

  --surface-level-1: var(--gray-100);
  --surface-level-2: var(--gray-50);
  --surface-level-3: #F5F5F5;
  --surface-frosted-glass: rgba(255 255 255 / 1%);

  --primary: var(--cream-950);
  --secondary: var(--cream-700);
  --on-primary: var(--cream-200);
  --on-secondary: var(--cream-100);

  --state-primary-default: var(--cream-950);
  --state-primary-hover: var(--cream-700);
  --state-primary-active: var(--cream-900);

  --on-state-primary-default: var(--cream-200);
  --on-state-primary-hover: var(--cream-200);
  --on-state-primary-active: var(--cream-200);

  --separator: var(--cream-200);


  /* Font families */
  --font-fallback: "FreeSans",
    "Ubuntu",
    "Courier New",
    courier,
    monospace;

  /* Base Font Size */
  --font-size-base: 1rem;

  --type-scale: 1.18;

  /* Font Sizes with Multiplier */
  --font-size-small: calc(var(--font-size-base) * 0.7);
  --font-size-h6: calc(var(--font-size-base) * var(--type-scale));
  --font-size-h5: calc(var(--font-size-h6) * var(--type-scale));
  --font-size-h4: calc(var(--font-size-h5) * var(--type-scale));
  --font-size-h3: calc(var(--font-size-h4) * var(--type-scale));
  --font-size-h2: calc(var(--font-size-h3) * var(--type-scale));
  --font-size-h1: calc(var(--font-size-h2) * var(--type-scale));

  /* Font Weights */
  --font-weight-regular: medium;
  --font-weight-bold: bold;

  /* Line Heights */
  --line-height-heading: 100%;
  --line-height-paragraph: 150%;

  /* Letter Spacing */
  --letter-spacing-heading: -1.5px;
  --letter-spacing-paragraph: 0px;

  /* Paragraph Styles */
  --paragraph-spacing: 0;
  --paragraph-indent: 0px;

  /* Text Styles */
  --text-case: none;
  --text-decoration: none;
  font-size: 100%;
}

@media (prefers-color-scheme: dark) {

  /* Styles for dark mode go here */
  :root {
    --surface-level-1: var(--gray-950);
    --surface-level-2: #121212;
    --surface-level-3: #0A0A0A;
    --surface-frosted-glass: rgba(0 0 0 / 1%);

    --primary: var(--cream-200);
    --secondary: var(--cream-700);
    --on-primary: var(--cream-950);
    --on-secondary: var(--cream-900);

    --state-primary-default: var(--cream-200);
    --state-primary-hover: var(--cream-300);
    --state-primary-active: var(--cream-400);
    --on-state-primary-default: var(--cream-950);
    --on-state-primary-hover: var(--cream-950);
    --on-state-primary-active: var(--cream-950);

    --separator: var(--cream-900);

  }

}

/* Reset margin, padding, and border for all elements */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

/* Use a better box model */
html {
  box-sizing: border-box;
  -ms-text-size-adjust: 100%;
  /* IE */
  -webkit-text-size-adjust: 100%;
  /* Safari */

}

/* Set base font settings */
body {
  font-family: var(--font-fallback);
  background: var(--surface-level-1);
  color: var(--primary);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Make images responsive */
img {
  max-width: 100%;
  display: block;
  height: auto;
}

/* Normalize list styles */
ul,
ol {
  list-style: none;
}

/* Links */
a {
  text-decoration: underline;
  color: var(--secondary);
  padding: 0.15rem;
}

a:hover {
  background-color: var(--state-primary-hover);
  color: var(--on-state-primary-hover);
}

a:active {
  background-color: var(--state-primary-active);
  color: var(--on-state-primary-active);
}

.nav-links a {
  color: var(--primary);
  text-decoration: none;
}

.nav-links a:hover {
  color: var(--on-state-primary-hover);
}

.nav-links a:active {
  color: var(--on-state-primary-active);
}

/* Ensure that all elements respond to focus */
*:focus {
  outline: none;
}

/* More legible typography for code */
code,
pre {
  font-family: monospace;
  font-size: 1em;
}

/* Tables */
table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  text-align: left;
  padding: 8px;
}

/* Forms */
input,
button,
textarea,
select {
  font: inherit;
  margin: 0;
}

/* Change the background color of the highlighted text and the color of the text itself */
::selection {
  background-color: var(--cream-800);
  color: var(--cream-200);
}

/* For browser compatibility, you might also want to include the following for Mozilla-based browsers */
::-moz-selection {
  background-color: var(--cream-800);
  color: var(--cream-200);
}

/* Heading Styles */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-fallback);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-heading);
  letter-spacing: var(--letter-spacing-heading);
  margin-top: 0.5em;
  margin-bottom: 1rem;
}

h1.xxl {
  font-weight: var(--font-weight-regular);
  font-size: 4.5rem;
  margin-top: 1rem;
}

h1 {
  font-size: 3.053rem;
}

h2 {
  font-size: 2.442rem;
}

h3 {
  font-size: 1.954rem;
}

h4 {
  font-size: 1.563rem;
}

h5 {
  font-size: 1.250rem;
}

h6 {
  font-size: 1rem;
}

/* Paragraph Styles */
p {
  font-family: var(--font-fallback);
  line-height: var(--line-height-paragraph);
  letter-spacing: var(--letter-spacing-paragraph);
  margin-top: var(--paragraph-spacing);
  text-indent: var(--paragraph-indent);
  text-transform: var(--text-case);
  text-decoration: var(--text-decoration);
}

p.small {
  font-size: var(--font-size-small);
  margin-bottom: var(--paragraph-spacing);
}

hr {
  border: none;
  /* Removes default borders */
  height: 1px;
  /* Specifies the height of the line */
  background-color: var(--primary);
  /* Specifies the color of the line */
  margin: 3.5rem 0;
  /* Adds some vertical spacing before and after the line */
}

.nodrag {
  -webkit-user-drag: none;
  /* Standard */
  -webkit-user-select: none;
  /* Chrome, Safari, Edge */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE 10+ */
  user-select: none;
  /* Standard */
}

.frosted-glass {
  --blur-height: calc(4.5rem*1.3461);
  background: var(--surface-frosted-glass);
  -webkit-backdrop-filter: blur(12px);
  backdrop-filter: blur(12px);
  height: 4.5rem;
  left: 0;
}

/* Default styles (Mobile First) */
.container {
  position: relative;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

section p {
  margin-bottom: 2rem;
}

footer {
  width: 100%;
  color: var(--primary);
  text-align: center;
  overflow: visible;
  padding: 0 0 2rem 0;
}

footer .overline {
  -webkit-mask-image: linear-gradient(transparent 50%, #000 0);
  mask-image: linear-gradient(transparent 50%, #000 0);
  position: relative;
  width: 100%;
  border: 1px solid var(--primary);
  border-radius: 1.2rem;
  height: 1.2rem;
  pointer-events: none;
  z-index: 1;
  margin-bottom: 1rem;
}

header {
  position: sticky;
  height: 64px;
  top: 0;
}

header .underline {
  position: absolute;
  border: 1px solid var(--primary);
  border-radius: 2rem;
  height: 1.2rem;
  mask-image: linear-gradient(#000 50%, transparent 0);
  pointer-events: none;
  width: 100%;
  z-index: 0;
}

nav {
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  padding: 1rem;
  text-decoration: none;
}

.nav-links {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  gap: 1.5rem;
}

.no-page-found {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  min-height: 90svh;
}

.content {
  padding: 2rem 2rem 0 2rem;
  min-height: 100svh;
}

.chillin {
  position: absolute;
  right: 1rem;
  max-width: 57px;
  height: auto;
  transform: translateY(-48%);
  z-index: 2;
}

.breadcrumb {
  color: var(--gray-900);
}

/* SM devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .container {
    max-width: 540px;
    /* Bootstrap's default container width for SM */
  }
}

/* MD devices (tablets, 768px and up) */
@media (min-width: 768px) {
  h1.xxl {
    font-size: 6rem;
  }

  .container {
    max-width: 720px;
    /* Bootstrap's default container width for MD */
  }

}

/* LG devices (desktops, 992px and up) */
@media (min-width: 992px) {
  :root {
    font-size: 110%;
  }

  h1.xxl {
    font-size: 8rem;
  }

  .container {
    max-width: 872px;
    /* Bootstrap's default container width for LG */
  }
}

/* XL devices (desktops, 1200px and up) */
@media (min-width: 1200px) {
  h1.xxl {
    font-size: 8rem;
    letter-spacing: -4px;
  }
}

/* XXL devices (large desktops, 1400px and up) */
@media (min-width: 1400px) {
  :root {
    font-size: 115%;
  }
}