@font-face {
  font-family: 'FreeSans';
  src: url('/fonts/FreeSans.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FreeMono';
  src: url('/fonts/FreeMono.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

:root {
  /* Color spectrum */
  --highlight-1000: rgba(0 0 0 / 100%);
  --highlight-950: rgba(0 0 0 / 95%);
  --highlight-900: rgba(0 0 0 / 90%);
  --highlight-800: rgba(0 0 0 / 80%);
  --highlight-700: rgba(0 0 0 / 70%);
  --highlight-600: rgba(0 0 0 / 60%);
  --highlight-500: rgba(0 0 0 / 50%);
  --highlight-400: rgba(0 0 0 / 40%);
  --highlight-300: rgba(0 0 0 / 30%);
  --highlight-200: rgba(0 0 0 / 20%);
  --highlight-100: rgba(0 0 0 / 10%);
  --highlight-50: rgba(0 0 0 / 5%);
  --gray-950: rgba(21 21 21 / 100%);
  --gray-900: rgba(61 61 61 / 100%);
  --gray-800: rgba(69 69 69 / 100%);
  --gray-700: rgba(79 79 79 / 100%);
  --gray-600: rgba(93 93 93 / 100%);
  --gray-500: rgba(109 109 109 / 100%);
  --gray-400: rgba(136 136 136 / 100%);
  --gray-300: rgba(176 176 176 / 100%);
  --gray-200: rgba(209 209 209 / 100%);
  --gray-100: rgba(231 231 231 / 100%);
  --gray-50: rgba(246 246 246 / 100%);
  --orange-50: rgba(254 246 238 / 100%);
  --cream-950: rgba(47 35 27 / 100%);
  --cream-900: rgba(89 68 53 / 100%);
  --cream-800: rgba(109 83 63 / 100%);
  --cream-700: rgba(133 101 73 / 100%);
  --cream-600: rgba(160 124 86 / 100%);
  --cream-500: rgba(173 142 98 / 100%);
  --cream-400: rgba(187 163 124 / 100%);
  --cream-300: rgba(207 193 162 / 100%);
  --cream-200: rgba(226 218 198 / 100%);
  --cream-100: rgba(243 240 231 / 100%);
  --cream-50: rgba(249 247 243 / 100%);

  --surface-level-1: var(--gray-100);
  --surface-level-2: var(--gray-50);
  --surface-level-3: #F5F5F5;
  --surface-frosted-glass: rgba(255 255 255 / 1%);

  --primary: var(--cream-950);
  --secondary: var(--cream-700);
  --on-primary: var(--cream-200);
  --on-secondary: var(--cream-100);

  --state-primary-default: var(--cream-950);
  --state-primary-hover: var(--cream-700);
  --state-primary-active: var(--cream-900);

  --on-state-primary-default: var(--cream-200);
  --on-state-primary-hover: var(--cream-200);
  --on-state-primary-active: var(--cream-200);

  --separator: var(--cream-200);

  /* Line Heights */
  --line-height-heading: 100%;
  --line-height-paragraph: 200%;

  /* Paragraph Styles */
  --paragraph-spacing: 0;
  --paragraph-indent: 0;

  /* Text Styles */
  font-size: 100%;
}

@media (prefers-color-scheme: dark) {

  /* Styles for dark mode go here */
  :root {
    --highlight-1000: rgba(255 255 255 / 100%);
    --highlight-950: rgba(255 255 255 / 95%);
    --highlight-900: rgba(255 255 255 / 90%);
    --highlight-800: rgba(255 255 255 / 80%);
    --highlight-700: rgba(255 255 255 / 70%);
    --highlight-600: rgba(255 255 255 / 60%);
    --highlight-500: rgba(255 255 255 / 50%);
    --highlight-400: rgba(255 255 255 / 40%);
    --highlight-300: rgba(255 255 255 / 30%);
    --highlight-200: rgba(255 255 255 / 20%);
    --highlight-100: rgba(255 255 255 / 10%);
    --highlight-50: rgba(255 255 255 / 5%);

    --surface-level-1: var(--gray-950);
    --surface-level-2: #121212;
    --surface-level-3: #0A0A0A;
    --surface-frosted-glass: rgba(0 0 0 / 1%);

    --primary: var(--cream-200);
    --secondary: var(--cream-700);
    --on-primary: var(--cream-950);
    --on-secondary: var(--cream-900);

    --state-primary-default: var(--cream-200);
    --state-primary-hover: var(--cream-300);
    --state-primary-active: var(--cream-400);
    --on-state-primary-default: var(--cream-950);
    --on-state-primary-hover: var(--cream-950);
    --on-state-primary-active: var(--cream-950);

    --separator: var(--cream-900);
  }
}

/* Reset margin, padding, and border for all elements */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

/* Hide scrollbar */
::-webkit-scrollbar {
  width: 0rem;
  /* Width of the scrollbar track */
}

::-webkit-scrollbar-thumb {
  background-color: transparent;
  /* Color of the scrollbar thumb */
}

html {
  -ms-text-size-adjust: 100%;
  /* IE */
  -webkit-text-size-adjust: 100%;
  /* Safari */
  scroll-behavior: smooth;
}

/* Set base font settings */
body {
  font-family: 'FreeSans', 'FreeMono', 'SF Pro', monospace;
  font-weight: normal;
  font-style: normal;
  background: var(--surface-level-1);
  color: var(--primary);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Make images responsive */
img {
  max-width: 100%;
  display: block;
  height: auto;
}

/* Links */
a {
  text-decoration: underline;
  color: var(--secondary);
  padding: 0.15rem;
}

.nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-links a {
  color: var(--primary);
  text-decoration: none;
}

.nav-links a:hover {
  background-color: var(--state-primary-hover);
  color: var(--on-state-primary-hover);
}

.nav-links a:active {
  background-color: var(--state-primary-active);
  color: var(--on-state-primary-active);
}

a.breadcrumb {
  color: var(--highlight-300);
  text-decoration: none;
}

ul,
ol {
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 40px;
  padding-left: 0;
}

li {
  display: list-item;
  margin-bottom: 1em;
  text-align: -webkit-match-parent;
}

/* Ensure that all elements respond to focus */
*:focus {
  outline: none;
}

/* More legible typography for code */
code,
pre {
  font-family: monospace;
  font-size: 1em;
}

/* Forms */
input,
button,
textarea,
select {
  font: inherit;
  margin: 0;
}

/* Change the background color of the highlighted text and the color of the text itself */
::selection {
  background-color: var(--cream-800);
  color: var(--cream-200);
}

/* For browser compatibility, you might also want to include the following for Mozilla-based browsers */
::-moz-selection {
  background-color: var(--cream-800);
  color: var(--cream-200);
}

/* Heading Styles */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-fallback);
  line-height: var(--line-height-heading);
  letter-spacing: var(--letter-spacing-heading);
}

article h1,
article h2,
article h3,
article h4,
article h5,
article h6 {
  margin-bottom: 1rem;
}

h1.xxl {
  font-weight: var(--font-weight-regular);
  font-size: 4.5rem;
  margin-top: 1rem;
}

h1 {
  font-size: 3.053rem;
}

h2 {
  font-size: 2.442rem;
}

h3 {
  font-size: 1.954rem;
}

h4 {
  font-size: 1.563rem;
}

h5 {
  font-size: 1.250rem;
}

h6 {
  font-size: 1rem;
}

/* Paragraph Styles */
p {
  font-family: var(--font-fallback);
  line-height: var(--line-height-paragraph);
  margin-top: var(--paragraph-spacing);
  text-indent: var(--paragraph-indent);
  text-transform: var(--text-case);
  text-decoration: var(--text-decoration);
}

small {
  font-size: 80%;
  margin-bottom: var(--paragraph-spacing);
}

.content hr {
  border: none;
  height: 1px;
  background-color: var(--primary);
  margin: 3.5rem auto;
}

.frosted-glass {
  background: var(--surface-frosted-glass);
  -webkit-backdrop-filter: blur(12px);
  backdrop-filter: blur(12px);
  height: 4.5rem;
  left: 0;
}

/* Default styles (Mobile First) */
.container {
  position: relative;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding: 0 1rem;
}

article p {
  margin-bottom: 1.5rem;
}

footer {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  width: 100%;
  color: var(--primary);
  text-align: center;
  overflow: visible;
  padding: 0 0 2rem 0;
  transform: translateY(-14%);
}

footer .overline {
  -webkit-mask-image: linear-gradient(transparent 50%, #000 0);
  mask-image: linear-gradient(transparent 50%, #000 0);
  position: relative;
  width: 100%;
  border: 1px solid var(--primary);
  border-radius: 1.2rem;
  height: 1.2rem;
  pointer-events: none;
  z-index: 1;
  margin-bottom: 1rem;
}

.logo {
  cursor: pointer;
}

.logo h6 {
  position: relative;
  display: flex;
  margin: 0;
  justify-content: center;
  align-items: center;
  line-height: 90%;
  user-select: none;
}

.logo h6::before,
.logo h6::after {
  content: '{';
  font-size: 3em;
  font-weight: 400;
  transform: translateY(-20%);
}

.logo h6::after {
  content: '}';
}

header {
  position: sticky;
  top: 0;
}

header .underline {
  position: absolute;
  border: 1px solid var(--primary);
  border-radius: 2rem;
  height: 1.2rem;
  -webkit-mask-image: linear-gradient(#000 50%, transparent 0);
  mask-image: linear-gradient(#000 50%, transparent 0);
  pointer-events: none;
  width: 100%;
  z-index: 0;
}

nav {
  display: flex;
  align-items: center;
  padding: 1rem;
}

.nav-links {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  gap: 1.5rem;
}

.no-content-found {
  padding: 2rem;
}

.no-content-found .message {
  display: flex;
  justify-content: center;
}

.no-content-found .message::before,
.no-content-found .message::after {
  content: '{';
  font-size: 3em;
  font-weight: 400;
  transform: translateY(10%);
}

.no-content-found .message::after {
  content: '}';
}

svg .stroke {
  stroke: var(--primary);
}

svg .fill {
  fill: var(--primary);
}

.content {
  padding: 2rem 1.5rem;
}

.chillin {
  position: absolute;
  right: 1rem;
  max-width: 57px;
  height: auto;
  transform: translateY(-48%);
  z-index: 2;
}

/* --- LIST ----------------------------------------------------------------- */

.content.list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.entry {
  padding: 1rem;
  border: 1px solid var(--highlight-100);
  transition: 200ms;
  color: var(--primary);
  text-decoration: none;
}

.entry .title {
  display: flex;
  gap: 0.25rem;
  align-items: center;
  overflow: hidden;
  text-overflow: ellipsis;

}

.entry .one-liner {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.entry:hover {
  /* box-shadow: 0px 5px 40px -20px var(--highlight-200); */
  border: 1px solid var(--highlight-400);
  background-color: var(--highlight-50);
}

.entry:active {
  background-color: var(--highlight-100);
}


/* SM devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .container {
    max-width: 540px;
    /* Bootstrap's default container width for SM */
  }
}

/* MD devices (tablets, 768px and up) */
@media (min-width: 768px) {
  h1.xxl {
    font-size: 6rem;
  }

  .container {
    max-width: 720px;
    /* Bootstrap's default container width for MD */
  }

}

/* LG devices (desktops, 992px and up) */
@media (min-width: 992px) {
  :root {
    font-size: 110%;
  }

  h1.xxl {
    font-size: 8rem;
  }

  .container {
    max-width: 872px;
    /* Bootstrap's default container width for LG */
  }
}

/* XL devices (desktops, 1200px and up) */
@media (min-width: 1200px) {
  h1.xxl {
    font-size: 8rem;
    letter-spacing: -4px;
  }
}

/* XXL devices (large desktops, 1400px and up) */
@media (min-width: 1400px) {
  :root {
    font-size: 115%;
  }
}