:root {
  --gray-50: hsl(0, 0%, 96%);
  --gray-100: hsl(0, 0%, 91%);
  --gray-200: hsl(0, 0%, 82%);
  --gray-300: hsl(0, 0%, 69%);
  --gray-400: hsl(0, 0%, 50%);
  --gray-500: hsl(0, 0%, 34%);
  --gray-600: hsl(0, 0%, 26%);
  --gray-700: hsl(0, 0%, 24%);
  --gray-800: hsl(0, 0%, 16%);
  --gray-900: hsl(0, 0%, 9%);
  --gray-950: hsl(0, 0%, 6%);

  --cream-50: #F9F7F3;
  --cream-100: #F3F0E7;
  --cream-200: #E2DAC6;
  --cream-300: #CFC1A2;
  --cream-400: #BBA37C;
  --cream-500: #AD8E62;
  --cream-600: #A07C56;
  --cream-700: #856549;
  --cream-800: #6D533F;
  --cream-900: #594435;
  --cream-950: #2F231B;

  --surface-level-1: var(--cream-50);
  --surface-level-2: var(--cream-100);
  --surface-level-3: var(--cream-200);
  --surface-frosted-glass: rgba(255 255 255 / 5%);

  --primary: var(--cream-950);
  --on-primary: var(--cream-200);

  --primary-hover: var(--cream-200);
  --primary-active: var(--cream-700);

  --on-primary-hover: var(--cream-950);
  --on-primary-active: var(--cream-200);

  --h1: 4.5rem;
  --h2: 3rem;
  --h3: 2.5rem;
  --h4: 2rem;
  --h5: 1.5rem;
  --h6: 0.8rem;
  --small: 0.6rem;

}

@media (prefers-color-scheme: dark) {
  :root {
    --surface-level-1: var(--gray-950);
    --surface-level-2: var(--gray-900);
    --surface-level-3: var(--gray-800);
    --surface-frosted-glass: hsla(0, 0%, 9%, 0.50);

    --primary: var(--cream-200);
    --on-primary: var(--cream-950);

    --primary-hover: var(--gray-800);
    --primary-active: var(--cream-200);
    --on-primary-hover: var(--cream-200);
    --on-primary-active: var(--cream-950);
  }
}

/* Change the background color of the highlighted text and the color of the text itself */
::selection {
  background-color: var(--cream-800);
  color: var(--cream-200);
}

/* For browser compatibility, you might also want to include the following for Mozilla-based browsers */
::-moz-selection {
  background-color: var(--cream-800);
  color: var(--cream-200);
}

html {
  font-size: 125%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  line-height: 90%;
  letter-spacing: -1.5px;
  margin: 0;
}

h1 {
  font-size: var(--h1)
}

h2 {
  font-size: var(--h2)
}

h3 {
  font-size: var(--h3)
}

h4 {
  font-size: var(--h4)
}

h5 {
  font-size: var(--h5)
}

h6 {
  font-family: monospace;
  font-weight: 100;
  letter-spacing: 1px;
  font-size: var(--h6);
}

body {
  font-family: 'Inter', sans-serif;
  font-weight: normal;
  font-style: normal;
  background: url(/images/texture.webp)repeat, var(--surface-level-2);
  color: var(--primary);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0 2rem;
}

small {
  font-family: monospace;
  font-size: var(--small);
}

a {
  text-decoration: underline;
  color: var(--primary);
  padding: 0.15rem;
}

header {
  position: relative;
  top: 0;
  max-width: 1320px;
  margin: auto;
  z-index: 2;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  max-width: 1320px;
  margin: auto;
}

nav {
  display: flex;
  align-items: center;
  padding: 1rem;
}

nav a {
  text-decoration: none;
}

nav a:hover {
  background-color: var(--primary-hover);
  color: var(--on-primary-hover);
}

nav a:active {
  background-color: var(--primary-active);
  color: var(--on-primary-active);
}

article {
  margin: auto;
  padding: 2rem 2rem;
  max-width: 872px;
}

article h1,
article h2,
article h3,
article h4,
article h5,
article h6 {
  margin: 0 0 2rem 0;
}

article p {
  line-height: 200%;
}

.chillin {
  position: absolute;
  right: 3rem;
  transform: translateY(-40%);
  z-index: 2;
}

.nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  gap: 1rem;
}

.container {
  position: relative;
  background-color: var(--surface-level-1);
  border-radius: 1rem;
  border: 1px solid var(--primary);
  overflow: hidden;
  max-width: 1320px;
  margin: 0 auto;
}

.columns {
  display: flex;
}

.section-heading {
  border-top: 1px solid var(--primary);
  border-bottom: 1px solid var(--primary);
  padding: 1rem;
}

.list {
  display: flex;
  flex-direction: column;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  gap: 1rem;
  text-decoration: none;
  transition: 0.2s;
  flex-grow: 1;
  flex-basis: 0;
}

.card[disabled] {
  justify-content: center;
  align-items: center;
  background-color: var(--surface-level-2);
}

.card[disabled]:hover {
  background-color: var(--surface-level-2);

}

.card:hover {
  background-color: var(--primary-hover);
}

.card p {
  margin: 0;
}

.card:not(:last-child) {
  border-right: 1px solid var(--primary);
}

.list .card:not(:last-child) {
  border-bottom: 1px solid var(--primary);
}

.frosted-glass {
  background: var(--surface-frosted-glass);
  -webkit-backdrop-filter: blur(12px);
  backdrop-filter: blur(12px);
}

.title-bar {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  background-color: var(--primary);
  padding: 1rem 2rem;
  height: 56px;
  color: var(--on-primary);
}

a.breadcrumb {
  color: var(--on-primary);
  padding: 0;
  text-decoration: none;
  font-weight: 600;
  letter-spacing: -1px;
  text-transform: capitalize;
}

a.breadcrumb:hover {
  text-decoration: underline;
}

a.breadcrumb.ancestor {
  font-weight: 100;
  color: var(--surface-level-3);
}

.no-content-found {
  position: relative;
  margin: auto;
  text-align: center;
  padding: 2rem;
}

#static {
  height: 56px;
  width: 100%;
  z-index: 2;
}


@media (max-width: 1408px) {}

@media (max-width: 1216px) {}

@media (max-width: 1024px) {
  html {
    font-size: 110%;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 100%;
  }

  body {
    padding: 0;
  }

  article {
    padding: 1.5rem;
  }

  .logo {
    display: none;
  }

  .chillin {
    display: none;
  }

  .container {
    margin: 0 0.5rem;
  }

  .columns {
    flex-direction: column;
  }

  .card:not(:last-child) {
    border-right: 0;
    border-bottom: 1px solid var(--primary);
  }
}