<footer>
    {{if $.GitInfo}}
    <small>
        Current page revision:
        <a href="https://github.com/saleh-lootah/portfolio/commit/{{$.GitInfo.Hash}}#content/{{$.File.Path}}">{{$.GitInfo.AbbreviatedHash
            }}</a>
    </small>
    {{end}}
    <small>
        <a href="https://github.com/saleh-lootah/portfolio/blob/main/LICENSE.md">Copyright © 2023 Saleh Lootah</a>
    </small>
</footer>
<script>
    // Function to update the attribute based on the color scheme
    function updateColorScheme() {
        if (window.matchMedia && window.matchMedia('(prefers-color-scheme: light)').matches) {
            // If the user has set their system to prefer light mode
            document.body.setAttribute('light', '');
        } else {
            // If the user has set their system to prefer dark mode
            document.body.removeAttribute('light');
        }
    }

    // Call the function on initial load
    updateColorScheme();

    // Add an event listener for when the system's color scheme changes
    window.matchMedia('(prefers-color-scheme: light)').addListener(updateColorScheme);
</script>
{{ $grain := resources.Get "js/grained.min.js"}}
<script src="{{ $grain.Permalink }}"></script>
<script>
    var options = {
        animate: true,
        patternWidth: 100,
        patternHeight: 100,
        grainOpacity: 0.05,
        grainDensity: 1,
        grainWidth: 1,
        grainHeight: 1
    };

    grained("#grain", options);
</script>
</body>

</html>