<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="title" content="{{ if not .IsHome }}{{ .Title }} - {{ end }}Saleh Lootah">
  <meta name="description" content="{{ with .Description }}{{ . }}{{ else }}Saleh Lootah's Website.{{ end }}">
  <meta name="keywords" content="Saleh Lootah, Dubai">
  <link rel="icon" href="/favicon.ico" sizes="any"><!-- 32×32 -->
  <link rel="icon" href="/favicon.svg" type="image/svg+xml">
  <link rel="apple-touch-icon" href="/icons/apple-touch-icon.png">
  <link rel="manifest" href="/manifest.json">
  <!-- <link rel="stylesheet" type="text/css" href="https://unpkg.com/@phosphor-icons/web@2.0.3/src/bold/style.css" /> -->

  <!-- Open Graph Tags -->
  <meta property="og:title" content="Saleh Lootah">
  <meta property="og:description" content="{{ with .Description }}{{ . }}{{ else }}Saleh Lootah's Website.{{ end }}">
  <meta property="og:image" content="/images/twitter-card.png">

  <!-- Twitter Card Tags -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="Saleh Lootah">
  <meta name="twitter:description" content="{{ with .Description }}{{ . }}{{ else }}Saleh Lootah's Website.{{ end }}">
  <meta name="twitter:image" content="/images/twitter-card.png">

  <!-- Canonical Link -->
  <link rel="canonical" href="{{ .Permalink }}">

  {{ $style := resources.Get "css/main.css"}}
  {{ $normalize := resources.Get "css/normalize.css"}}
  {{ $normalizedCss := $normalize | resources.Minify }}
  {{ $css := $style | resources.Minify }}
  <link rel="stylesheet" href="{{ $normalize.Permalink }}">
  <link rel="stylesheet" href="{{ $css.Permalink }}">
  <title>
    {{ if .IsHome }}
    Saleh Lootah
    {{ else }}
    {{ .Title }} - Saleh Lootah
    {{ end }}
  </title>

</head>

<body>