<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="title" content="{{if .Title}}{{ .Title }} - {{end}}Saleh Lootah">
  <meta name="description"
    content="{{ with .Description }}{{ . }}{{ else }}Saleh Lootah's Personal Portfolio Website.{{ end }}">

  <link rel="icon" href="/favicon.svg">
  {{ $style := resources.Get "css/main.css"}}
  {{ $css := $style | resources.Minify }}
  <link rel="stylesheet" href="{{ $css.Permalink }}">
  <title>{{if .Title}}{{ .Title }} - {{end}}Saleh Lootah</title>
</head>

<body>