<div class="section-heading">
    <small class="section-title">LATEST</small>
</div>
<section id="latest" class="section">
    <div class="latest-section">
        {{ $pages := where site.RegularPages "Section" "in" (slice "blog" "projects") }}
        {{ $pageCount := len $pages }}
        {{ $limit := cond (gt 3 $pageCount) $pageCount 3 }}

        {{ range (first $limit $pages) }}
        <a class="card" href="{{ .Permalink }}">
            <small>{{ .Type }}</small>
            <p class="card-heading">{{ .Title }}</p>
            <p>{{ .Summary | plainify | truncate 80 }}</p>
        </a>
        {{ end }}

        {{ if lt $pageCount 3 }}
        {{ range seq (sub 3 $pageCount) }}
        <div class="card" disabled>
            <small>Coming Soon</small>
        </div>
        {{ end }}
        {{ end }}
    </div>
</section>