<header>
  <nav class="frosted-glass">
    <object data="/logo.svg" type="image/svg+xml"></object>
    <ul class="nav-links">
      <li><a href="#">Home</a></li>
      <li><a href="#">Projects</a></li>
      <li><a href="#">Blog</a></li>
      <li><a href="#">Now</a></li>
    </ul>
    <img class="chillin" src="/chillin@1x.png" srcset='/chillin@1x.png 1x,
    /chillin@2x.png 2x, /chillin@3x.png 3x,'
      alt="An image of the author of the website appearing to sit on the nav-bar">
  </nav>
</header>