<header>
  <nav class="frosted-glass">
    <div alt="My logo" class="logo">
      <h6>saleh<br>lootah</h6>
    </div>
    <div class="nav-links">
      <a href="/" title="Home">Home</a>
      <a href="/projects" title="Projects">Projects</a>
      <a href="/blog" title="Blog">Blog</a>
      <a href="/gallery" title="Gallery">Gallery</a>
      <a href="/now" title="Now">Now</a>
    </div>
  </nav>

  <img title="me" class="chillin" src="/images/chillin@1x.webp" srcset='/images/chillin@1x.webp 1x,
    /images/chillin@2x.webp 2x, /images/chillin@3x.webp 3x,'
    alt="An image of the author of the website appearing to sit on the nav-bar bottom border">
  <div class="underline"></div>
</header>