<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ .Title }}</title>
  <link rel="stylesheet" href="css/main.css">
</head>

<body class="landing-page">
  <div class="container">
    <nav class="frosted-glass">
      <object data="assets/logo.svg" type="image/svg+xml"></object>
      <ul class="nav-links">
        <li><a href="#">Home</a></li>
        <li><a href="#">Projects</a></li>
        <li><a href="#">Blog</a></li>
        <li><a href="#">Now</a></li>
      </ul>
    </nav>
    <div class="main-content">
      <section>
        <h1>Heading 1</h1>
        <p>Lorem ipsum dolor sit amet consectetur. Ultricies enim mi sagittis ut cursus rutrum nulla id quis. Ut sodales
          laoreet eget lacus tortor vitae semper rhoncus. Mattis faucibus volutpat in est magna nulla egestas mauris.
          Fringilla diam sed adipiscing non at. Interdum blandit non pharetra posuere turpis quam quisque bibendum.Lorem
        </p>
      </section>
      <section>
        <h2>Hello World</h2>
        <p>Lorem ipsum dolor sit amet consectetur. Ultricies enim mi sagittis ut cursus rutrum nulla id quis. Ut sodales
          laoreet eget lacus tortor vitae semper rhoncus. Mattis faucibus volutpat in est magna nulla egestas mauris.
          Fringilla diam sed adipiscing non at. Interdum blandit non pharetra posuere turpis quam quisque bibendum.Lorem
        </p>
      </section>
    </div>
  </div>
</body>

</html>