<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="favicon.svg">
  <title>{{ .Title }}</title>
  <link rel="stylesheet" href="css/main.css">
</head>

<body class="landing-page">
  <div class="container">
    <nav class="frosted-glass">
      <object data="assets/logo.svg" type="image/svg+xml"></object>
      <ul class="nav-links">
        <li><a href="#">Home</a></li>
        <li><a href="#">Projects</a></li>
        <li><a href="#">Blog</a></li>
        <li><a href="#">Now</a></li>
      </ul>
      <img class="chillin" src="assets/chillin@1x.png" srcset='assets/chillin@1x.png 1x,
      assets/chillin@2x.png 2x, assets/chillin@3x.png 3x,'
        alt="An image of the author of the website appearing to sit on the nav-bar">
    </nav>
    <div class="main-content">
      <section>
        <h1 class="xxl">I'm Saleh,<br> a digital designer based in Dubai</h1>
        <hr class="mb-4 mt-4">
      </section>
      <section>
        <h2>About</h2>
        <p>Lorem ipsum dolor sit amet consectetur. Ultricies enim mi sagittis ut cursus rutrum nulla id quis. Ut sodales
          laoreet eget lacus tortor vitae semper rhoncus. Mattis faucibus volutpat in est magna nulla egestas mauris.
          Fringilla diam sed adipiscing non at. Interdum blandit non pharetra posuere turpis quam quisque bibendum.Lorem
        </p>
      </section>
    </div>
  </div>
</body>

</html>